<div class="container-fluid header">
    
    <div class="container-lg">
        <div class="row align-items-center text-center header-nav py-4">
            <div class="col-12 d-flex justify-content-between">
                <a class="navbar-brand" href="/">
                    <picture>
                        <source media="(max-width: 992px)" srcset="/images/logo-with-slogan@2x.png">
                        <source media="(min-width: 993px)" srcset="/images/logo-with-slogan@3x.png">
                        <img src="/images/logo-with-slogan@2x.png" alt="E-Drive Auto">
                    </picture>
                </a>
                <ul class="navigation">
                    <li>
                        <a class="nav-link btn btn-secondary rounded-3 m-0" href="https://t.me/getwellsupport" target="_blank">
                            <i class="bi bi-telegram"></i>Написать Нам
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center text-center header-body">
            <div class="col-12">
                <div class="card card-custom text-start mx-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h3 class="card-title text-light">
                                    Онлайн Бронирование <b class="text-secondary">Медицинских Услуг</b>
                                </h3>
                                <p class="card-text pb-4 mx-0 mx-lg-5">
                                    Пользователь в несколько кликов может забронировать консультации Терапевта, невропатолога ,психолога, 
                                    УЗИ ,МРТ итд а также услуги Эстетической медицины,  Стоматологии,  Ветеринарии и многого другого
                                </p>
                                <a class="image-button" asp-action="Android">
                                    <picture>
                                        <source media="(max-width: 992px)" srcset="/images/google-store@2x.png">
                                        <source media="(min-width: 993px)" srcset="/images/google-store@3x.png">
                                        <img src="/images/google-store@2x.png" alt="E-Drive Auto">
                                    </picture>
                                </a>
                                <a class="image-button" asp-action="Ios">
                                    <picture>
                                        <source media="(max-width: 992px)" srcset="/images/apple-store@2x.png">
                                        <source media="(min-width: 993px)" srcset="/images/apple-store@3x.png">
                                        <img src="/images/apple-store@2x.png" alt="E-Drive Auto">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-dark py-6 py-lg-10">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-self-center">
                <div class="card card-custom">
                    <div class="card-body align-self-center">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/images/our-app.png">
                            <source media="(min-width: 993px)" srcset="/images/our-app@2x.png">
                            <img class="card-banner drop-shadow vertical" src="/images/our-app.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 align-self-center">
                <div class="card card-custom text-start">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center text-lg-start">
                                <h3 class="card-title">
                                    Все <span class="text-secondary">Клиники Города</span>
                                </h3>
                                <p class="card-text pb-4">
                                    В мобильном приложении  GetWell собраны все клиники города с их ценами и услугами
                                </p>
                                <a class="image-button" asp-action="Android">
                                    <picture>
                                        <source media="(max-width: 992px)" srcset="/images/google-store-blue@2x.png">
                                        <source media="(min-width: 993px)" srcset="/images/google-store-blue@3x.png">
                                        <img src="/images/google-store-blue@2x.png" alt="E-Drive Auto">
                                    </picture>
                                </a>
                                <a class="image-button" asp-action="Ios">
                                    <picture>
                                        <source media="(max-width: 992px)" srcset="/images/apple-store-blue@2x.png">
                                        <source media="(min-width: 993px)" srcset="/images/apple-store-blue@3x.png">
                                        <img src="/images/apple-store-blue@2x.png" alt="E-Drive Auto">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-6 py-lg-10">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-5 mb-lg-7">Возможности Приложения</h3>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 card-custom card-feature">
                    <div class="card-body text-start">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/images/feature-icon-1@2x.png">
                            <source media="(min-width: 993px)" srcset="/images/feature-icon-1@3x.png">
                            <img class="badge-icon" src="/images/feature-icon-1@2x.png" alt="">
                        </picture>
                        <h4 class="card-title my-4">Бронирование</h4>
                        <p>
                            Пользователь может забронировать любую медицинскую услугу сидя в офисе за обедом и даже из  любой точки мира 24/7
                        </p>
                        <a href="#" class="card-link link-secondary">Узнать Больше <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 card-custom card-feature">
                    <div class="card-body text-start">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/images/feature-icon-2@2x.png">
                            <source media="(min-width: 993px)" srcset="/images/feature-icon-2@3x.png">
                            <img class="badge-icon" src="/images/feature-icon-2@2x.png" alt="">
                        </picture>
                        <h4 class="card-title my-4">Все Клиники</h4>
                        <p>
                            В мобильном приложении  GetWell собраны все клиники города с их ценами и услугами
                        </p>
                        <a href="#" class="card-link link-secondary">Узнать Больше <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 card-custom card-feature">
                    <div class="card-body text-start">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/images/feature-icon-3@2x.png">
                            <source media="(min-width: 993px)" srcset="/images/feature-icon-3@3x.png">
                            <img class="badge-icon" src="/images/feature-icon-3@2x.png" alt="">
                        </picture>
                        <h4 class="card-title my-4">Новости</h4>
                        <p>
                            Свежие новости и полезные статьи о здоровье помогут вам быть в курсе последних медицинских новинок
                        </p>
                        <a href="#" class="card-link link-secondary">Узнать Больше <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-dark py-6 py-lg-10">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-self-center d-lg-none d-sm-block">
                <div class="card card-custom">
                    <div class="card-body align-self-center">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/images/iphone-1@2x.png">
                            <source media="(min-width: 993px)" srcset="/images/iphone-1@3x.png">
                            <img class="card-banner drop-shadow vertical" src="/images/iphone-1@2x.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 align-self-center">
                <div class="card card-custom text-start">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center text-lg-start">
                                <h3 class="card-title">
                                    Легкий Интерфейс
                                </h3>
                                <p class="card-text pb-4">
                                    Удобный и легкий в использовании интерфейс помогут с легкостью забронировать услугу даже не самым умелым пользователям смартфона
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 align-self-center d-none d-lg-block">
                <div class="card card-custom">
                    <div class="card-body align-self-center">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/images/iphone-1@2x.png">
                            <source media="(min-width: 993px)" srcset="/images/iphone-1@3x.png">
                            <img class="card-banner drop-shadow vertical" src="/images/iphone-1@2x.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-6 py-lg-10">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-self-center">
                <div class="card card-custom">
                    <div class="card-body align-self-center">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/images/iphone-2@2x.png">
                            <source media="(min-width: 993px)" srcset="/images/iphone-2@3x.png">
                            <img class="card-banner drop-shadow vertical" src="/images/iphone-2@2x.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 align-self-center">
                <div class="card card-custom text-start">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center text-lg-start">
                                <h3 class="card-title">
                                    Умное Приложение
                                </h3>
                                <p class="card-text pb-4">
                                    Умное мобильное приложение GetWell поможет найти пользователю самую ближайшею клинику по карте, 
                                    оптимальной цене и подходящему вам времени и все эти возможности облегчающее и экономящие время людей собраны в одном мобильном приложение
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-dark py-6 py-lg-10">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card card-custom text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 class="card-title">
                                    Готовы
                                </h2>
                                <h2 class="card-subtitle my-4">
                                    Сотрудничать Снами?
                                </h2>
                                <a class="nav-link btn btn-secondary rounded-5 mt-2 d-inline-block px-5 py-3" href="https://t.me/getwellsupport" target="_blank">
                                    <i class="bi bi-telegram"></i>Пишите Нам
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-footer bg-primary pt-4 pb-4 pb-lg-5 pt-lg-7">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card card-custom text-center">
                    <div class="card-body mb-4 mb-lg-5">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/images/logo-with-slogan.png">
                            <source media="(min-width: 993px)" srcset="/images/logo-with-slogan@2x.png">
                            <img src="/images/logo-with-slogan.png" alt="E-Drive Auto">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card card-custom text-center">
                    <div class="card-body lh-lg">
                        <a class="link-light d-block d-lg-inline-block mt-1 mt-lg-0 mx-3" href="tel:+9989441066666" target="_blank"><i class="bi bi-telephone"></i> +9989441066666</a>
                        <a class="link-light d-block d-lg-inline-block mt-1 mt-lg-0 mx-3" href="https://t.me/getwelluzb" target="_blank"><i class="bi bi-telegram"></i> t.me/getwelluzb</a>
                        <a class="link-light d-block d-lg-inline-block mt-1 mt-lg-0 mx-3" target="_blank"
                           href="https://www.google.com/maps/search/74%2F13+Kichik+Beshyog'och+ko'chasi,+Tashkent,+Uzbekistan/@@41.2873019,69.261573,18.46z">
                            <i class="bi bi-geo-alt"></i>
                            Узбекистан, Ташкент, Кичик Бешёгоч 74/13
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-center text-light mt-3 mb-0 fs-7">&copy; @DateTime.Now.Year ООО Alpha Centauri</p>
                <p class="text-center">
                    <a class="text-light text-decoration-underline fs-7" target="_blank" href="@Url.Action("Terms")">Публичная Оферта</a>
                </p>
            </div>
        </div>
    </div>
</div>