@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ПУБЛИЧНАЯ ОФЕРТА</title>
</head>
<body>
<div style="max-width: 1000px;margin: auto;">
<p><strong>ПУБЛИЧНАЯ ОФЕРТА</strong></p>
<p><strong>по использованию мобильного приложения GetWell.</strong><strong>uz</strong><strong> на возмездной основе.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Порядок заключения публичной оферты, стороны публичной оферты</strong></p>
<p>Данный документ является публичной офертой, имеющий соответствующую юридическую силу, регламентирующий правила использования <strong>мобильного приложения GetWell.</strong><strong>uz</strong><strong> (далее &laquo;Приложение)</strong>, правообладателем которого является юридическое лицо зарегистрированное в Республике Узбекистан, ООО &laquo;ALPHA CENTAURI&raquo;, в адрес неограниченного круга лиц, о намерении заключить Оферту для онлайн бронирования медицинских услуг посредством мобильного приложения GetWell.uz на условиях, описанных ниже в содержании (далее &laquo;ОФЕРТА&raquo;).</p>
<p>Сторонами публичной оферты являются ООО &laquo;ALPHA CENTAURI&raquo; и физическое лицо, обратившееся за получением онлайн бронирования медицинских услуг, направлением/консультацией/заключением по решению проблемы здоровья, в своих интересах или в интересах третьего лица <strong>(далее &laquo;Пациент&raquo; &laquo;Пользователь&raquo;).</strong>&nbsp;</p>
<p>Ознакомление Пользователя с офертой (ст. 367, ст.369 ГК РУз.) осуществляется посредством приложения, при осуществлении Пациентом действий при регистрации и получении онлайн бронирования медицинских услуг.</p>
<p>Полным и безоговорочным принятием (Акцептом) условий настоящей Оферты считается осуществление Пользователем действий: регистрации в приложении, проставления отметок (галочек) о согласии с условиями настоящей оферты и осуществление платежа за оказываемые услуги посредством приложения.</p>
<p>Оферта считается заключенной п. 1 ст. 364 ГК РУз, если между сторонами в требуемой в подлежащих случаях форме достигнуто соглашение по всем существенным условиям Оферты.</p>
<p>Оферта заключается в каждом случае обращения Пользователя за услугами приложения.</p>
<p><strong>Соглашаясь с условиями Оферты, Пользователь:</strong></p>
<ul>
<li>Подтверждает свое право - и дееспособность, а также осознаёт ответственность за обязательства, возложенные на него в результате заключения Оферты;</li>
<li>Подтверждает свои личные данные и принимает на себя всю ответственность за их точность, полноту и достоверность;</li>
<li>Принимает на себя все возможные коммерческие риски, связанные с его действиями по допущению ошибок, неточностей в предоставлении информации, необходимой для осуществления оплаты по Договору;</li>
</ul>
<p>Оказание услуги Пользователю осуществляется при условии оформления информированного добровольного согласия на рекомендательное медицинское вмешательство в форме электронного документа.</p>
<p>&nbsp;Принимая условия настоящей оферты, Пользователь дает свое согласие на получение сообщений информационного и рекламного характера, посредством рассылки по SMS и Email. Пользователь вправе отозвать свое согласие на получение сообщений информационного и рекламного характера.</p>
<p>Настоящая Оферта может быть в любое время в одностороннем порядке изменена Системой мобильного приложения GetWell.uz Такие изменения приобретают силу для Сторон только на будущее время.</p>
<ol>
<li><strong> ОФЕРТА НА БРОНИРОВАНИЕ МЕДИЦИНСКИХ УСЛУГ </strong></li>
</ol>
<p><strong>ПОСРЕДСТВОМ ПРИЛОЖЕНИЯ</strong></p>
<p>Понятия, используемые в настоящем Оферте</p>
<p>Для целей настоящего Оферты используются следующие основные понятия:</p>
<p><strong>Мобильное приложение GetWell.</strong><strong>uz</strong> &ndash; Программно-аппаратный комплекс (Информационная система) состоящего из программного обеспечения и баз данных систематизированной информации по предоставлению канала связи между Пользователями/Пациентами и Медицинской организацией в режиме реального времени (онлайн), права на который принадлежат и администратором которого является <strong>ООО &laquo;ALP</strong><strong>H</strong><strong>A CENTA</strong><strong>U</strong><strong>RI&raquo;.</strong></p>
<p><strong>Услуга</strong> &ndash; предоставление приложением информации о Медицинской организации, в том числе: об оказываемых медицинских услугах, её местонахождении, контактных данных, режиме работы, специалистах, ценах, качестве оказываемых услуг (отзывы пользователей), возможность Пользователям мобильного приложения бронировать время посещения Медицинской организации, осуществлять запись на прием к специалисту или медицинские процедуры, возможность Пользователям получать, а Медицинской организации оказывать консультации и другие услуги медицинского характера дистанционно, если это позволяет характер такого обращения Пользователя, подключенный к мобильному приложению GetWell.uz</p>
<p><strong>Пациент</strong> &ndash; Физическое лицо, которому оказываются платные первичные онлайн медицинские услуги в соответствии с Офертой, заключенной посредством приложения.</p>
<p><strong>Пользователь</strong> &ndash; Лицо, которое заключает настоящую Оферту посредством приложения. Пользователь может заключать Оферту в отношении себя лично, в этом случае пользователь одновременно является Пациентом, либо в отношении другого лица &ndash; Пациента, представителем которого он является.&nbsp;</p>
<p><strong>Медицинская организация</strong> -&nbsp;&nbsp;&nbsp; юридическое лицо, осуществляющее оказание услуг медицинского характера, имеющее право (лицензию, разрешение) на занятие таким видом деятельности.</p>
<ol start="2">
<li><strong> ПРЕДМЕТ ОФЕРТЫ</strong></li>
</ol>
<p>2.1. Мобильное приложение GetWell.uz на основании обращения Пользователя, обязуется оказать ему либо лицу, представителем которого он является (Пациенту), услуги по предоставлению информации о Медицинской организации, в том числе: об оказываемых медицинских услугах, её местонахождении, контактных данных, режиме работы, специалистах, ценах, качестве оказываемых услуг (отзывы пользователей), возможность Пользователям мобильного приложения бронировать время посещения Медицинской организации, осуществлять запись на прием к специалисту или медицинские процедуры, возможность Пользователям получать, а Медицинской организации оказывать консультации и другие услуги медицинского характера дистанционно, если это позволяет характер такого обращения, за что Пользователь уплачивает вознаграждение в соответствии с условиями настоящей Оферты.</p>
<p>2.2. Медицинские организации оказывают услуги посредством предоставления своей информации об организации, в том числе: об оказываемых медицинских услугах, её местонахождении, контактных данных, режиме работы, специалистах, ценах, качестве оказываемых услуг (отзывы пользователей), возможность Пользователям мобильного приложения бронировать время посещения Медицинской организации, осуществлять запись на прием к специалисту или медицинские процедуры, возможность Пользователям получать, а Медицинской организации оказывать консультации и другие услуги медицинского характера с использованием приложения.</p>
<p>2.3. В момент подписания настоящей Оферты, Пользователь ознакомлен с действующим у Медицинской организации Прейскурантом и дает свое добровольное согласие на снятие с представленной активной, действующей Банковской карты денежные средства для оплаты за услуги, предоставленные Медицинской организацией по настоящей оферте, в данных отношениях правообладатель приложения ООО &laquo;ALPFA CENTAVRI&raquo; не имеет никакой посреднической либо материальной выгоды, доступа к банковской карте пользователя либо право или полномочия по вмешательству в снятии Медицинской организацией с банковской карты Пользователя денежных средств посредством платежной системы, независимо от размера снятых денежных средств.&nbsp;</p>
<ol start="3">
<li><strong> ПОРЯДОК И УСЛОВИЯ ОКАЗАНИЯ УСЛУГ</strong></li>
</ol>
<p>3.1. Для получения Услуг вне зависимости от порядка доступа к ним Пользователь самостоятельно или с помощью третьих лиц регистрируется в приложении.</p>
<p>3.2. В открытом доступе в приложении размещается информация о Медицинской организации, в том числе: об оказываемых медицинских услугах, её местонахождении, контактных данных, режиме работы, специалистах, ценах, качестве оказываемых услуг (отзывы пользователей), возможность Пользователям мобильного приложения бронировать время посещения Медицинской организации, осуществлять запись на прием к специалисту или медицинские процедуры, возможность Пользователям получать, а Медицинской организации оказывать консультации и другие услуги медицинского характера дистанционно, если это позволяет характер такого обращения и другие необходимые сведения в соответствии с законодательством РУз и обычаями делового оборота.</p>
<p>3.3. После оплаты Услуг Пользователь вправе с использованием приложения обратиться за оказанием, бронированием Услуг (далее &mdash; &laquo;Запрос&raquo;).</p>
<p>3.4 Оплата Услуг, вне зависимости от канала приобретения Программы, осуществляется Пользователем/Пациентом - Банковской картой;</p>
<p>3.5. Услуги оказываются Пациенту Медицинской организацией, которая был предварительно выбрана Пользователем.</p>
<p>3.6. В случае, если после отправки Запроса Пользователь захочет отказаться от оказания Услуг, он обязан уведомить об этом через приложение по контактным данным, указанным в самом приложении, до начала оказания услуг, но не позднее чем за 2 (два) часа до оказания услуг, в случае несвоевременного уведомления об отмене запроса, данному пользователю могут ограничить допуск в последующих отправках Запросов.</p>
<p>&nbsp;3.7. Никакие претензии Пользователя относительно сроков оказания Услуг не принимаются, если Пользователь не направит Запрос на оказание Услуг или не будет находиться в системе (онлайн) после направления Запроса.</p>
<p>3.8. В случае отказа Пользователя после заключения Оферты от получения Услуг, Оферта расторгается.</p>
<ol start="4">
<li><strong> ТЕХНИЧЕСКИЕ ВОПРОСЫ, СВЯЗАННЫЕ С ОКАЗАНИЕМ УСЛУГ</strong></li>
</ol>
<p>4.1. Доступ к услугам предоставляется Пациенту в режиме реального времени (онлайн) с использованием мобильного приложения.</p>
<p>4.2. Предоставление Услуг может осуществляться с использованием следующего оборудования Пользователя (Пациента): персональный компьютер, мобильное устройство, планшет.</p>
<p>4.3. Оборудование Пользователя (Пациента), с помощью которого планируется оказывать. Услуги должно соответствовать следующим требованиям:</p>
<p>4.3.1. При использовании мобильных устройств:</p>
<ul>
<li>iOS 8.0 или более поздняя версия</li>
<li>Android 4.1 или более поздняя версия</li>
</ul>
<p>В случае если оборудование Пользователя (Пациента) не соответствует указанным требованиям, оказание Услуг является невозможным.</p>
<p>4.4. Пользователь лично отвечает за соответствие указанных требований используемого им оборудования. мобильное приложение не несет ответственности за невозможность получения Пользователем Услуг, возникшую по технической причине, если используемое оборудование Пользователя не соответствует указанным требованиям.</p>
<p>4.5. Приложение перед оказанием Услуг проводит проверку оборудования Пользователя (Пациента) на соответствие, такая проверка носит информационный характер и не влечет никаких правовых последствий и обязательств для приложения.</p>
<ol start="5">
<li><strong> СТОИМОСТЬ УСЛУГ И ПОРЯДОК ОПЛАТЫ</strong></li>
</ol>
<p>5.1. Стоимость Услуг указывается в зависимости от объема предоставленных услуг посредством Приложения и услуги происходит при условии их оплаты в полном Объеме.</p>
<p>5.2. Оплата услуг осуществляется в безналичном порядке через пластиковую карточку путем снятия суммы денежных средств заданной пользователем платежной системой, подключенной к Приложению.</p>
<p>5.3. Оплата Услуг осуществляется при помощи организаций, оказывающих Услуги по приему и перечислению платежей в безналичной форме.</p>
<ol start="6">
<li><strong> ИНЫЕ ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong></li>
</ol>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6.1. Мобильное приложения GetWell.uz обязуется: &nbsp;&nbsp;&nbsp;</p>
<p>6.1.1. Обеспечить Пользователя (Пациента) доступной и достоверной информацией по вопросам, связанным с оказанием Услуг сервиса приложения и иным вопросам, относящимся <br /> к предмету настоящей Оферты.</p>
<p>6.1.2. Не передавать и не разглашать третьим лицам находящуюся в сервисе мобильного приложения GetWell.uz информацию и документацию о Пациенте и Пользователе.</p>
<p>6.1.3. Выполнять иные обязанности в соответствии с настоящим Офертой.</p>
<p>6.2. Мобильное приложение GetWell.uz имеет право:</p>
<p>6.2.1. Получать от Пациента и Пользователя любую информацию, необходимую для выполнения своих обязательств по настоящей Оферте. В случае не предоставления либо неполного или неверного предоставления Пациентом информации, Медицинские организации, подключенные к системе приложения, имеют право приостановить исполнение своих обязательств по настоящей Оферте до представления необходимой информации.</p>
<p>6.2.2. Получать вознаграждение за оказание услуг по настоящей Оферте.</p>
<p>6.3. Пользователь обязуется:</p>
<p>6.3.1. Оплачивать Услуги в порядке, в сроки и на условиях, которые установленные настоящей Офертой.</p>
<p>6.3.2. Соблюдать правила пользования Мобильным приложением.</p>
<p>6.3.3. Выполнять иные обязанности в соответствии с настоящей Офертой.</p>
<p>6.4. Пользователь имеет право:</p>
<p>6.4.1. Получать Услуги в соответствии с настоящей Офертой.</p>
<ol start="7">
<li><strong> КОНФИДЕНЦИАЛЬНОСТЬ</strong></li>
</ol>
<p>7.1. Стороны обязуются хранить в тайне первичную консультативную, финансовую и иную конфиденциальную информацию, полученную от другой Стороны при исполнении настоящей Оферты.</p>
<p>&nbsp;</p>
<ol start="8">
<li><strong> ОТВЕТСТВЕННОСТЬ СТОРОН</strong></li>
</ol>
<p>8.1. Медицинская организация несет ответственность перед Пациентом/Пользователем за неисполнение или ненадлежащее исполнение услуг, оказываемых по настоящей Оферте.</p>
<p>8.2. Компания ООО &laquo;ALPHA CENTAURI&raquo; несет ответственность исключительно только за качество и бесперебойность онлайн связи между Медицинской организацией и Пациентом.</p>
<p>8.4. Компания ООО &laquo;ALPHA CENTAURI&raquo; ни при каких обстоятельствах не несет ответственности за качество услуг, оказываемых Партнерами/Специалистами/ Врачами/Медицинскими организациями, в том числе тех, профили которых размещены на мобильном приложении GetWell.uz</p>
<ol start="9">
<li><strong> ФОРС-МАЖОР</strong></li>
</ol>
<p>9.1. Ни одна из Сторон не будет нести ответственности за полное или частичное неисполнение другой Стороной своих обязанностей, если неисполнение будет являться следствием обстоятельств непреодолимой силы, таких, как пожар, наводнение, землетрясение, забастовки и другие стихийные бедствия, война и военные действия или другие обстоятельства, находящиеся вне контроля Сторон, препятствующие выполнению настоящей Оферты, возникшие после заключения Оферты, а также по иным основаниям, предусмотренным законом.</p>
<p>9.2. Если любое из таких обстоятельств непосредственно повлияло на неисполнение обязательства в срок, указанный в Оферте, то этот срок соразмерно отодвигается на время действия соответствующего обстоятельства.</p>
<p>9.3. Сторона, для которой сделалось невозможным исполнение обязательств по Оферте, обязана не позднее 3 (трех) дней с момента их наступления и прекращения в письменной форме уведомить другую Сторону о наступлении, предполагаемом сроке действия и прекращении вышеуказанных обстоятельств.</p>
<ol start="10">
<li><strong> ИНЫЕ УСЛОВИЯ</strong></li>
</ol>
<p>10.1. Настоящая Оферта является публичным договором, его форма расположена на платформе мобильного приложения для ознакомления неограниченного круга лиц.</p>
<p>10.2. Настоящая Оферта заключена в порядке, описанном в преамбуле оферты о его заключении.</p>
<p>10.3. Настоящая Оферта заключается на неопределенный срок. Любая из Сторон вправе отказаться от настоящей Оферты уведомив другую Сторону не менее чем за 1 (один) день до такого отказа.</p>
<p>10.4. Пользователь вправе направить претензию посредством приложения GetWell.uz только по вопросу качества связи с учетом того, что его техника связи соответствует к минимальным требованиям приложения. Срок рассмотрения такой претензии составляет 15 (пятнадцать) рабочих дней с даты получения.</p>
<p>10.5. При неурегулировании в процессе переговоров спорных вопросов споры подлежат рассмотрению в судебном порядке.</p>
<p>&nbsp;</p>
<ol start="11">
<li><strong> АДРЕС И РЕКВИЗИТЫ СТОРОН</strong></li>
</ol>
<p><strong>ООО &laquo;</strong><strong>ALPHA</strong> <strong>CENTAURI</strong><strong>&raquo;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Сайт: </strong><strong>getwell</strong><strong>.</strong><strong>uz</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Электронная почта: </strong><a href="mailto:admin@getwell.uz"><strong>admin</strong><strong>@@</strong><strong>getwell</strong><strong>.</strong><strong>uz</strong></a></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Наши контакты:&nbsp; +998905323366</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
</div>
</body>
</html>