@model NewsSearch


<div class="card">
    <div class="header">
        <h2><strong>Поиск</strong> Новостей</h2>
    </div>
    <div class="body">
        <form data-ajax-url="@Url.Action("SearchResult", "News")"
              data-ajax-begin="begin" data-ajax-loading="#fountainG"
              data-ajax-method="post" data-ajax="true" data-ajax-mode="replace"
              data-ajax-update="#searchResult" data-ajax-complete="complete">

            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input asp-for="Title" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select asp-for="Language" asp-items="Model.Languages" class="form-control custom-select"></select>
                    </div>
                </div>
                @* <div class="col-sm-6"> *@
                @*     <div class="form-group"> *@
                @*         <select asp-for="ClinicID" asp-items="Model.Clinics" class="form-control custom-select"></select> *@
                @*     </div> *@
                @* </div> *@
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="input-group">
                        <div class="checkbox">
                            <input asp-for="IsDisabled" class="form-control" />
                            <label asp-for="IsDisabled"></label>
                        </div>
                    </div>
                </div>
                @* <div class="col-sm-6"> *@
                @*     <div class="input-group"> *@
                @*         <div class="checkbox"> *@
                @*             <input asp-for="IsFeatured" class="form-control" /> *@
                @*             <label asp-for="IsFeatured"></label> *@
                @*         </div> *@
                @*     </div> *@
                @* </div> *@
            </div>
            <div class="row clearfix">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-calendar"></i>
                        </span>
                        <input asp-for="DateCreatedFrom" type="text" class="datetimepicker form-control" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-calendar"></i>
                        </span>
                        <input asp-for="DateCreatedTo" type="text" class="datetimepicker form-control" />
                    </div>
                </div>
            </div>
            
            @{ await Html.RenderPartialAsync("SearchFormSubmitSection", Model); }
        </form>
    </div>
</div>

<script type="text/javascript" defer>
    $(function() {
        //Datetimepicker plugin
        $('.datetimepicker').bootstrapMaterialDatePicker({
            format: 'DD-MMM-YYYY',
            clearButton: true,
            weekStart: 1,
            date: true,
            time: false
            //maxDate: Date.now
        });
    });
</script>