
<div class="card">
	<div class="body">
		<div class="sparkline m-b-10" data-type="bar" data-width="97%" data-height="38px" data-bar-Width="2" data-bar-Spacing="6" data-bar-Color="#555555">2,8,5,3,1,7,9,5,6,4,2,3,1,2,8,5,3,1,7,9,5,6,4,2,3,1</div>
		<h6 class="text-center m-b-15">Total New Patient</h6>
		<div id="world-map-markers2" style="height:125px;"></div>
		<div class="table-responsive m-t-20">
			<table class="table table-striped m-b-0">
				<thead>
					<tr>
						<th>City</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>New York</td>
						<td>215<i class="zmdi zmdi-trending-up m-l-10"></i></td>
					</tr>
					<tr>
						<td>Los Angeles</td>
						<td>189<i class="zmdi zmdi-trending-up m-l-10"></i></td>
					</tr>
					<tr>
						<td>Chicago</td>
						<td>408<i class="zmdi zmdi-trending-down m-l-10"></i></td>
					</tr>
					<tr>
						<td>Houston</td>
						<td>78<i class="zmdi zmdi-trending-down m-l-10"></i></td>
					</tr>
					<tr>
						<td>Phoenix</td>
						<td>148<i class="zmdi zmdi-trending-up m-l-10"></i></td>
					</tr>
					<tr>
						<td>San Diego</td>
						<td>102<i class="zmdi zmdi-trending-down m-l-10"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>