
<div class="card top_counter">
	<div class="body">
		<div class="icon xl-slategray"><i class="zmdi zmdi-account"></i> </div>
		<div class="content">
			<div class="text">New Patient</div>
			<h5 class="number">27</h5>
		</div>
	</div>                    
</div>