
<div class="card visitors-map">
	<div class="header">
		<h2><strong>Our</strong> Location <small>Contrary to popular belief, Lorem Ipsum is not simply random text</small></h2>
		<ul class="header-dropdown">
			<li class="dropdown">
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
				<ul class="dropdown-menu dropdown-menu-right slideUp">
					<li><a href="javascript:void(0);">Action</a></li>
					<li><a href="javascript:void(0);">Another action</a></li>
					<li><a href="javascript:void(0);">Something else</a></li>
				</ul>
			</li>
			<li class="remove">
				<a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
			</li>
		</ul>
	</div>
	<div class="body">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div id="world-map-markers" style="height:280px;"></div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="body">
					<ul class="row location_list list-unstyled">
						<li class="col-lg-4 col-md-4 col-6">
							<div class="body xl-turquoise">
								<i class="zmdi zmdi-pin"></i>
								<h4 class="number count-to" data-from="0" data-to="453" data-speed="2500" data-fresh-interval="700">453</h4>
								<span>America</span>
							</div>
						</li>
						<li class="col-lg-4 col-md-4 col-6">
							<div class="body xl-khaki">
								<i class="zmdi zmdi-pin"></i>
								<h4 class="number count-to" data-from="0" data-to="124" data-speed="2500" data-fresh-interval="700">124</h4>
								<span>Australia</span>
							</div>
						</li>
						<li class="col-lg-4 col-md-4 col-6">
							<div class="body xl-parpl">
								<i class="zmdi zmdi-pin"></i>
								<h4 class="number count-to" data-from="0" data-to="215" data-speed="2500" data-fresh-interval="700">215</h4>
								<span>Canada</span>
							</div>
						</li>
						<li class="col-lg-4 col-md-4 col-6">
							<div class="body xl-salmon">
								<i class="zmdi zmdi-pin"></i>
								<h4 class="number count-to" data-from="0" data-to="155" data-speed="2500" data-fresh-interval="700">155</h4>
								<span>India</span>
							</div>
						</li>
						<li class="col-lg-4 col-md-4 col-6">
							<div class="body xl-blue">
								<i class="zmdi zmdi-pin"></i>
								<h4 class="number count-to" data-from="0" data-to="78" data-speed="2500" data-fresh-interval="700">78</h4>
								<span>UK</span>
							</div>
						</li>
						<li class="col-lg-4 col-md-4 col-6">
							<div class="body xl-slategray">
								<i class="zmdi zmdi-pin"></i>
								<h4 class="number count-to" data-from="0" data-to="55" data-speed="2500" data-fresh-interval="700">55</h4>
								<span>Other</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>    