@using System.Security.Claims

<div class="block-header">
	<div class="row">
		<div class="col-lg-5 col-md-5 col-sm-12">
			<h2>Dashboard
                <small>Добро пожаловать в GetWell - @User.Identity.GetClaim(ClaimTypes.Name)</small>
			</h2>
		</div>            
        <div class="col-lg-7 col-md-7 col-sm-12 text-right">
            <a class="btn btn-warning text-dark position-relative mx-3" style="display: none;" href="@Url.Action("Index", "Appointment")" id="NewAppointmentNotificationID">
                <i class="zmdi zmdi-notifications"></i>
                <span class="notify mx-1"><span class="heartbit"></span><span class="point"></span></span>
                Подтвердите Новые Брони! <span id="newNotificationCountID"></span>
            </a>
        </div>
	</div>
</div>