@model ChangePasswordRequest

@{
    ViewData["Title"] = "Сменить Пароль";
}

@await Html.PartialAsync("PageHeader")

<script>
	onError = () => {
		$('form .alert.bg-danger').toggleClass('d-none');
        $('form').trigger('reset');
	};

	onSuccess = (response) => {
        $('form .alert.bg-danger').addClass('d-none');
        $('form .alert.bg-success').addClass('d-none');            
            
        if(response !== 'Success') {
            $('form .alert.bg-danger').removeClass('d-none');
        }
        else {
            $('form .alert.bg-success').removeClass('d-none');            
        }
        
        $('form').trigger('reset');
    };    
</script>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Сменить</strong> Пароль</h2>
                </div>
                <div class="body">
                    <form asp-controller="Account" asp-action="ChangePassword" data-ajax="true"
                          data-ajax-method="post" data-ajax-failure="onError" data-ajax-success="onSuccess">
                        <div class="content">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="NewPassword"></label>
                                    <input asp-for="NewPassword" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="ConfirmNewPassword"></label>
                                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                                </div>
                            </div>

                            <div class="alert bg-danger d-none">
                                <strong>Ошибка!</strong> Не удалось сменить пароль.
                            </div>
                            <div class="alert bg-success d-none">
                                Пароль изменен!
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-wd btn-round submit-button">Сменить Пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>