@model ForgotPasswordRequest

@{
	ViewData["Title"] = "GetWell - Забыли Пароль?";
	ViewData["BodyCssClass"] = "authentication sidebar-collapse";
}

@section MainStyles
{
	<link rel="stylesheet" href="~/css/login-site.css" />
	<link rel="stylesheet" href="~/admin/assets/scss/main.css" />
	<link rel="stylesheet" href="~/admin/assets/scss/pages/authentication.css" />
}

@section Scripts
{
	<script>
		onError = () => {
			$('form .alert.bg-danger').toggleClass('d-none');
            $('form').trigger('reset');
		};

		onSuccess = (response) => {
            $('form .alert.bg-success').toggleClass('d-none');
			$('form').trigger('reset');
        };

        $(".phone-number").mask("+998 (XX) XXXXXXX");
	</script>
}


<div class="page-header">
	<div class="page-header-image" style="background-image:url(/assets/images/login.jpg)"></div>
	<div class="container">
		<div class="col-md-12 content-center">
			<div class="card-plain">
				<form asp-controller="Account" asp-action="ForgotPassword" data-ajax="true" 
				      data-ajax-method="post" data-ajax-failure="onError" data-ajax-success="onSuccess">
					<div class="header">
						<div class="logo-container">
							<img src="~/assets/images/logo.png" alt="">
						</div>
						<h5>Забыли Пароль?</h5>
					</div>
					<div class="content">
						<div class="input-group">
							<select asp-for="Role" class="form-control">
								<option>Тип Аккаунта</option>
								<option value="doctor">Доктор</option>
								<option value="clinic">Клиника</option>
								<option value="admin">Админ</option>
							</select>
						</div>
						<div class="input-group input-lg mt-3 mb-0">
							<input asp-for="UserName" type="text" class="form-control phone-number" placeholder="Номер Телефона (пр. +998 (97)1204520)" />
							<span class="input-group-addon">
								<i class="zmdi zmdi-account-circle"></i>
							</span>
						</div>
                        <div class="alert bg-danger d-none">
                            <div class="alert-error">
                                Ошибка при отправлении СМС
                            </div>
                        </div>
                        <div class="alert bg-success d-none">
                            <div class="alert-error">
                                Смс отправлен
                            </div>
                        </div>
					</div>
					<div class="footer text-center">
                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Напомнить Пароль</button>
                        <h5><a asp-action="Login" asp-controller="Account" class="link">Войти</a></h5>
                    </div>
				</form>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="copyright text-center">
				&copy; @DateTime.Now.Year All rights reserved. GetWell.
			</div>
		</div>
	</footer>
</div>

@section MainScripts
{
    <script src="~/js/login-site.js"></script>
    <script src="~/js/jquery-inputmask/index.min.js" asp-append-version="true"></script>
}

@section PageLoader
{}

@section Header
{}

@section LeftSideBar
{}