
@model Patient

@{
    ViewData["Title"] = Model != null && Model.ID > 0 ? $"{Model.FullName} - Редактировать Данные Пациента" : "Добавить Нового Пациента";
}

@await Html.PartialAsync("PageHeader")

<div class="container-fluid">
    <form enctype="multipart/form-data" data-ajax-url="@(Model.ID > 0 ? Url.Action("Edit") : Url.Action("Add", "Patient"))"
          data-ajax-begin="begin" data-ajax-loading="#fountainG"
          data-ajax-method="post" data-ajax="true" data-ajax-mode="replace"
          data-ajax-update="#SaveFormMessageID" data-ajax-complete="complete">

        @{ await Html.RenderPartialAsync("Cards/PatientCard", Model); }

        @{ await Html.RenderPartialAsync("Cards/PatientProfileCard", Model); }

        @{ await Html.RenderPartialAsync("Cards/PatientAccountCard", Model); }

        @{ await Html.RenderPartialAsync("FormSubmitSection"); }

        <input asp-for="ID" type="hidden" />
        <input asp-for="ClinicID" type="hidden" />
    </form>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("PageScripts/SaveScript", Model); }
}
