@model Title

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>Базовая</strong> Информация
                    <small>Название должности врача...</small>
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label asp-for="NameUz"></label>
                            <input asp-for="NameUz" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label asp-for="NameEn"></label>
                            <input asp-for="NameEn" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group m-t-5 m-b-10">
                            <div class="checkbox">
                                <input asp-for="Active" type="checkbox" class="form-control" />
                                <label asp-for="Active"></label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="SortOrder" />
                </div>
            </div>
        </div>
    </div>
</div>