@model Appointment

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>Базовая</strong> Информация
                    <small>Основные данные пациента...</small>
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Patient.FirstName"></label>
                            <input asp-for="Patient.FirstName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Patient.LastName"></label>
                            <input asp-for="Patient.LastName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Patient.MiddleName"></label>
                            <input asp-for="Patient.MiddleName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Patient.Phone"></label>
                            <input asp-for="Patient.Phone" type="tel" class="form-control phone-number" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Patient.SecondaryPhone"></label>
                            <input asp-for="Patient.SecondaryPhone" type="tel" class="form-control phone-number" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Patient.Email"></label>
                            <input asp-for="Patient.Email" type="email" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Patient.PreferredLanguage"></label>
                            <select asp-for="Patient.PreferredLanguage" asp-items="Model.Patient.Languages" class="form-control custom-select"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group m-t-5 m-b-15">
                            <div class="checkbox">
                                <input asp-for="Patient.IsActive" type="checkbox" class="form-control" />
                                <label asp-for="Patient.IsActive"></label>
                            </div>

                            <input type="hidden" asp-for="Patient.ID" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>